.font {
    font-size: 17px;
}

.border {
    border-color: #e0e0e0;
}

.square {
    display: grid;
    font-size: 26px;
    font-family: 'Leckerli One', cursive;
    color:#e0e0e0;
}

.square .square div {
    text-align: center;
    border: 1px dashed #e0e0e0;
}

.square button, .square4x4, .square3x3, .parcel {
    background-color: #5e9e5e;/*background-color: whitesmoke;*/
}

.square button {
    font-size: 26px;
    font-family: 'Leckerli One', cursive;
}

.square16x16, .square9x9 {
    border-width: 4px;
}

.square16x16 {
    grid-template-rows: 160px 160px 160px 160px;
    grid-template-columns: 160px 160px 160px 160px;
}

.square9x9 {
    grid-template-rows: 120px 120px 120px;
    grid-template-columns: 120px 120px 120px;
}

.square4x4, .square3x3 {
    border: 3.0px solid#e0e0e0;
    margin: -2px;
}

.square4x4 {
    grid-template-rows: 40px 40px 40px 40px;
    grid-template-columns: 40px 40px 40px 40px;
}

.square3x3 {
    grid-template-rows: 40px 40px 40px;
    grid-template-columns: 40px 40px 40px;
}

.square11x11 {
    display:grid;
    grid-template-columns: repeat(11, 40px);
    border: none;
}

.parcel {
    text-align: center;
}

/*
    For duplication.html from here.
*/

.mold-square {
    position: absolute;
    display: grid;
    background-color: #ffffff;
    grid-template-columns: repeat(120, 18px);
    grid-template-rows: repeat(120,18px);
}

.status {
    display:grid;
    grid-template-columns: repeat(4, 120px);
    padding: 15px 10px 15px 10px;
}

.input-area {
    position: absolute;
    display: grid;
}